[submodule "."]
    version = 10.1
    release = 2020-06-15

[submodule "PDS Registry App"]
    url = https://github.com/NASA-PDS/pds-registry-app/
    description = Create records, store and request the digital product in the PDS registry
    version = 0.1
    type = service

[submodule "PDS Deep Archive"]
    url = https://github.com/NASA-PDS/pds-deep-archive
    description = PDS Discipline Node-specific package providing utilities for handling deep archives. It includes software for Archive Information Package (AIP) and Submission Information Package (SIP) products, based on Open Archival Information System (OAIS) standards.
    version = 0.1
    type = service

[submodule "Validate"]
    url = https://github.com/NASA-PDS/validate/
    description = Validate PDS formats
    version = 1.23
    type = tool

[submodule "PDS4 Information Model & LDDTool"]
    url = https://github.com/NASA-PDS/pds4-information-model/
    description = PDS4 information model and tools for its maintenance
    version = 11.3
    type = tool

[submodule "Harvest"]
    url = https://github.com/NASA-PDS/harvest/
    description = harvest pds4 label to store them in registry
    version = 3.2
    type = core

[submodule "Registry Manager Solr"]
    url = https://github.com/NASA-PDS/pds-registry-mgr-solr
    description = service of registry for pds artifacts
    version = 3.2
    type = core

[submodule "Transform"]
    url = https://github.com/NASA-PDS/transform/
    description = transform PDS3 and PDS4 into various format
    version = 1.11
    type = tool

[submodule "PDS4 JParser"]
    url = https://github.com/NASA-PDS/pds4-jparser/
    description = java api library to read pds4 products
    version = 1.8
    type = library

[submodule "MILabel"]
    url = https://github.com/NASA-PDS/mi-label/
    description = metadata injector for PDS labels
    version = 1.1
    type = tool

